<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:ital,wght@0,400;1,100&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/app.css">
    
</head>
<body>
    <nav class="md:px-20 px-5 py-4 mx-auto flex items-center justify-between">
        <div >
            <a class="pizzan" href="/"><img class="pizzan" src="/img/pizzan.png" alt="logo"/></a>
            
        </div>
        <div class="ml-auto cartLogo rounded-full">
                        <a class="flex justify-between px-4 py-2 rounded-full" href="/cart">
                        <span id="card-counter" class="text-white font-bold"><%= session.cart?session.cart.totalQty:0 %></span>
                        <img class="inline-block " src="/img/cart.png" alt="cart-icon"></a>
        </div>
            <div class="items">
                <ul class="flex md:items-center">
                    <li class="md:ml-6"><a href="/">Menu</a></li>
                    <% if(user) { %>
                        <li class="md:ml-6">
                        <form id="logout" action="/logout" method="POST">
                            <span onclick="document.getElementById('logout').submit()">Logout</span>
                        </form>
                    </li>
                    <% }else{ %>   
                    
                    <li class="md:ml-6"><a href="/register">Register</a></li>
                    <li class="md:ml-6"><a href="/login">Login</a></li>
                    <% } %>
                    <!-- s -->
                </ul>
            </div>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        
    </nav>
    <%- body %>
    <footer class="px-12 ">
        <div class="container px-10 py-20 mx-auto">
            <img class="mx-auto" src="/img/pizzan.png" alt="pizzan-logo">
            <p class="text-lg text-gray-300 mt-5 text-center">Made with Love by Rupayan</p>
        </div>

    </footer>
    <script src="https://kit.fontawesome.com/ccbcd35d74.js" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>