@import './variables.scss';

body{
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing:antialiased;
    color:$dark;
}
nav li:last-child a img{
    background-color: $primary;
    
    &:hover{
        background-color: $primary-hover;
    }
}
nav li a{
    transition: $smooth;
    &:hover{
        color:$primary;
    }
}
.hero{
    background-color: $secondary;
}
.size{
    background-color: $secondary;
}
.btn-primary{
    background-color: $primary;
    color:$pure;
    transition: $smooth;
    border:2px solid $pure;
    &:hover{
        background-color: $pure;
        color:$primary;
        border-color: $primary;
    }
}
.addToCart{
    border:2px solid $primary;
    color:$primary;
    transition: $smooth;

    &:hover{
        background-color: $primary;
        border-color: $pure;
        color:$pure;
    }
}
.cart{
    background-color: $secondary;

    .amount{
        color:$primary;

    }
}
section.login{
    background-color: $secondary;
    min-height:calc(100vh - 86px);
    a{
        color:$primary;
        &:hover{
            color:$primary-hover;
        }
    }
}